{
  "extends": [
    "./node_modules/wealthfront-javascript/.eslintrc"
  ],
  "env": {
    "commonjs": true
  },
  "rules": {
    "lines-around-directive": 2,
    "max-statements-per-line": ["error", { "max": 1 }],
    "no-implicit-coercion": [2, { "boolean": false }],
    "object-curly-newline": ["error", {
      "ObjectExpression": {
        "minProperties": 1,
      },
      "ObjectPattern": { "multiline": true }
    }],
    "wrap-iife": [2, "inside", {
      "functionPrototypeMethods": true
    }]
  }
}
